.comment .no-comment {
    opacity: .35;
}

.table-content .date {
    opacity: .6;
}

.no-data-found {
    font-size: 36px;
    opacity: .12;
}

.non-user {
    font-size: 24px;
    opacity: .6;
}